body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
}
div {
    margin-bottom: 40px;
}
label {
    text-align: center;
}
table, th, td {
    margin: auto;
    padding-left: 20px;
}
input {
    height: 25px;
}
#submit {
    width: 10.7vw;
}
button {
    height: 30px;
}