<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Hospitalar | NU</title>
</head>
<body>
    <h2>Pacient form</h2>
    <div id="form-pacientes" c-container="{{ url_for('pacientes.formulario')}}"></div>

    <h2>Pacient list</h2>
    <div c-container="{{ url_for('pacientes.lista_pacientes')}}"></div>
        
    <script src="{{ url_for('static', filename='./Javascript/lib.js')}}"></script>
</body>
</html>